<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<script type="text/javascript">
		window.onload = function()
		{
		    document.getElementById('bodyContainer').style.visibility = 'visible';
		}
	</script>
</head>
<body>
    <div id='bodyContainer' style='visibility: hidden;' class="container body-content">
         @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqwidgets")
    @RenderSection("scripts", required: false)
</body>
</html>
